<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.unknowcabbes.recodoch">

    <application
        android:allowBackup="true"
        android:background="@color/colorBackgroundScreen"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".HomeActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forms.FormularioTipoDocumentoActivity"/>
        <activity android:name=".LoginActivity" android:theme="@style/NoActionBar"/>
        <activity android:name=".forms.FormularioTipoUsuarioActivity" android:label="@string/form_tipo_usuario"/>
        <activity android:name=".forms.FormularioClienteComplementosActivity" android:label="@string/form_cliente_complementar"/>
        <activity android:name=".forms.FormularioClienteActivity" android:label="@string/form_cliente"/>
        <activity android:name=".forms.FormularioUsuarioMainActivity" android:label="@string/form_usuario"/>
        <activity android:name=".forms.FormularioDocumentoActivity" android:label="@string/form_documento"/>
    </application>

</manifest>